	<%= tinymce %>
	<p><%= f.label :title %></p>
	<%= f.text_field :title %><br/>

	<p><%= f.label :body %></p><br/>
	<%= f.text_area :body, :class => "tinymce", :rows => 5, :cols => 120 %>

	<p><%= f.submit "Save" %></p>